In [1]:
INPUTFILE = 'testinput_11.txt'

with open(INPUTFILE, 'r') as file:
    content = file.read()
rows = (content.split("\n"))[:-1]

In [6]:
import pandas as pd

In [12]:
universe = [list(row) for row in rows]
df = pd.DataFrame(universe)

In [13]:
df

   0  1  2  3  4  5  6  7  8  9
0  .  .  .  #  .  .  .  .  .  .
1  .  .  .  .  .  .  .  #  .  .
2  #  .  .  .  .  .  .  .  .  .
3  .  .  .  .  .  .  .  .  .  .
4  .  .  .  .  .  .  #  .  .  .
5  .  #  .  .  .  .  .  .  .  .
6  .  .  .  .  .  .  .  .  .  #
7  .  .  .  .  .  .  .  .  .  .
8  .  .  .  .  .  .  .  #  .  .
9  #  .  .  .  #  .  .  .  .  .

In [5]:
print(universe)

[['.', '.', '.', '#', '.', '.', '.', '.', '.', '.'], ['.', '.', '.', '.', '.', '.', '.', '#', '.', '.'], ['#', '.', '.', '.', '.', '.', '.', '.', '.', '.'], ['.', '.', '.', '.', '.', '.', '.', '.', '.', '.'], ['.', '.', '.', '.', '.', '.', '#', '.', '.', '.'], ['.', '#', '.', '.', '.', '.', '.', '.', '.', '.'], ['.', '.', '.', '.', '.', '.', '.', '.', '.', '#'], ['.', '.', '.', '.', '.', '.', '.', '.', '.', '.'], ['.', '.', '.', '.', '.', '.', '.', '#', '.', '.'], ['#', '.', '.', '.', '#', '.', '.', '.', '.', '.']]